#background-modal {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 68px;
        background-color: white;

        .header-left {
            display: flex;
            align-items: center;
            gap: 8px;

            span {
                font-size: 16px;
                font-weight: 500;
            }

            i {
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50px;
                cursor: pointer;
            }

            i:hover {
                background-color: #f1f1f1;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
        }

        .header-right:hover {
            background-color: #f1f1f1;

            >span,
            i {
                color: #0091ff;
            }
        }
    }

    .content {
        margin: 8px 16px 16px 16px;
        padding: 12px;
        background-color: white;
        box-shadow: var(--box-shadow-default);

        .img-list-wrapper {}

        .img-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
            gap: 8px;

            max-height: 230px;
            overflow-y: auto;

            .img-item {
                width: 100%;
                aspect-ratio: 1 / 1;
                /* ⭐ luôn vuông */
                object-fit: cover;
                cursor: pointer;
            }

            .img-item.--active {
                border: 5px solid #0091ff;
            }

            .img-item.btn-upload-backgound {
                background-color: #0091ff;
                display: flex;
                justify-content: center;
                align-items: center;

                >i {
                    color: white;
                    line-height: 1;
                    display: inline-block;
                    transform-origin: center;
                    animation: scalePulseDelay 5s cubic-bezier(.4, 0, .2, 1) infinite;
                }
            }


            @media only screen and (max-width: 768px) {
                & {
                    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
                }
            }

            @media only screen and (max-width: 576px) {
                & {
                    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
                }
            }

            .img-item:hover {
                filter: brightness(90%);
            }
        }

        .option {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 12px;

            >i {
                font-size: 24px;
                color: #0091ff;
                cursor: pointer;
            }

            >i.fa-circle {
                color: #7a7979;
            }

            >span {
                color: #7a7979;
            }
        }
    }

    @keyframes scalePulseDelay {

        0%,
        80% {
            font-size: 24px;
            transform: scale(1);
        }

        90% {
            font-size: 28px;
            transform: scale(1.03);
        }

        100% {
            font-size: 24px;
            transform: scale(1);
        }
    }
}