.modal-overlay-group {
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0 0 0 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  user-select: none;
  .container-account-info {
    padding: 0px 12px;
    .account-info {
      animation-name: zoom;
      animation-duration: 0.5s;
      position: absolute;
      width: 352px;
      height: auto;
      max-width: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
      border-radius: 6px;
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%);
      .title {
        height: 48px;
        padding: 0 8px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        > i {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          :hover {
            background-color: #f1f1f1;
          }
        }
      }
      .box-account-info {
        max-height: calc(95dvh - 48px);
        overflow: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
          -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
          width: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #ccc;
          border-radius: 10px;
        }
        .header {
          position: relative;
          .header-right {
            position: absolute;
            top: 95px;
            right: 10px;
            z-index: 2;
            .custom-file-input {
              display: none;
            }
            .custom-file-label {
              user-select: none;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff;
              padding: 6px;
              border-radius: 50%;
              box-shadow: 0 3px 3px rgba(24, 19, 19, 0.16);
              cursor: pointer;
              i {
                font-size: 14px;
              }
              &:hover {
                filter: brightness(80%);
              }
            }
            .btn-default--custome {
              background-color: #fff;
              color: #333;
              border-radius: 4px;
              border: none;
              outline: none;
              padding: 4px 8px;
              font-size: 12px;
              font-weight: 600;
              margin-top: 6px;
              cursor: pointer;
              &:last-child {
                margin-left: 8px;
              }
              &:hover {
                background-color: #f1f1f1;
              }
            }
            .dropdown-cover-image {
              background-color: #fff;
            }
          }
          .box-image {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
            margin-bottom: 16px;
            .custom-file-input {
              display: none;
            }
            .box-avatar__icon {
              position: absolute;
              display: flex;
              flex-shrink: 0;
              margin-left: 80px;
              margin-top: 30px;
              cursor: pointer;
              > i {
                font-size: 14px;
                padding: 6px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
              }
              :hover {
                filter: brightness(80%);
              }
            }
            .photo-avatar {
              width: 90px;
              height: 90px;
              border: 2px solid #fff;
              border-radius: 50%;
              bottom: -36px;
              left: 0;
              right: 0;
              margin: 0 auto;
              object-fit: cover;
            }
            .display-name {
              width: 220px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 500;
              font-size: 18px;
              margin-top: 12px;
              text-align: center;
            }
            .btn-texting {
              height: 32px;
              line-height: 32px;
              font-size: 16px;
              font-weight: 500;
              background-color: #f1f1f1;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              width: 50%;
              margin-top: 16px;
              margin-bottom: 0px;
              cursor: pointer;
              :hover {
                filter: brightness(95%);
              }
            }
          }
          .photo-cover {
            width: 100%;
            height: 130px;
            object-fit: cover;
          }
        }
        .content {
          padding: 16px;
          border-top: 8px solid #eef0f1;
          &__title {
            font-weight: 500;
            margin-bottom: 16px;
          }
          .member-list {
            display: flex;
            > img {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              border: 1px solid #fff;
              object-fit: cover;
              margin-right: -8px;
              position: relative;
            }
            > .view-more {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              border: 1px solid #fff;
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #f1f1f1;
              > i {
                font-size: 20px;
              }
            }
          }
        }
        .content-cloud {
          margin-top: 32px;
          padding-left: 20px;
          display: flex;
          .name {
            color: #7589a3;
            width: 110px;
            min-width: 110px;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            display: inline-block;
          }
          .value {
            padding-right: 32px;
          }
        }
        .footer {
          border-top: 8px solid #eef0f1;
          .action-list {
            .action-item {
              padding-left: 20px;
              height: 48px;
              display: flex;
              align-items: center;
              position: relative;
              cursor: pointer;
              > i {
                font-size: 16px;
                margin-right: 4px;
                width: 28px;
              }
            }
            .action-item:not(:last-child)::before {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              width: calc(100% - 50px);
              border-bottom: 1px solid var(--boder-dividing-color);
            }
          }
        }
      }
    }
  }

  @keyframes zoom {
    0% {
      transform: scale3d(0.3, 0.3, 0.3);
    }
    100% {
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
