* {
  box-sizing: border-box;
  color: #081c36;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #081c36;
  overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (hover: none) and (pointer: coarse) {
  input,
  textarea {
    font-size: 16px !important;
    line-height: 1.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

input {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --boder-dividing-color: #d6d9db;
  --box-shadow-default: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  --sidebar-width: 64px;
  --section-left-width: 350px;
}

::selection {
  background: #8fbfff;
}

.app {
  min-height: 100dvh;
}